<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="__STATIC__/js/jquery-3.4.1.min.js"></script>
	<style type="text/css">
		table{border-collapse:collapse;width: 500px;margin:50px auto;}
		/*tr:hover{background: #dddddd;}*/
		td{text-align:center;height: auto;padding: 5px;}
		th{text-align:center;padding-left: 6px;background: #d0d0d0;}
		.xg2{color:#999;text-decoration:line-through;}
	</style>
</head>
<body>
	<div class="container">
		<table width="500" border="1" cellpadding="0" cellspacing="0" align="center">
			<tr><th>用户id</th><th>密码</th><th>操作</th></tr>
			{if count($rs)>0}
			{foreach $rs as $k=>$v}
			{if $v['userid']==$userid}
			<tr><td>{$v['userid']}</td><td>{$v['pwd']}</td><td><a href="{:url('User/mdfUser',['userid'=>$userid])}">修改</a></td></tr>
			{else/}
			<tr><td>{$v['userid']}</td><td>***</td><td class="xg2">修改</td></tr>
			{/if}
			{/foreach}
			{else/}
			{/if}
		</table>
	</div>
	<script type="text/javascript">
		$('.xg2').click(function(){
			alert('只能修改自己的账户信息！');
		})
	</script>
</body>
</html>